<nav>
  <ul>
    <li class="active"><a class="nav-link" href="/">UPLOAD</a></li>
    <li><a class="nav-link" href="/files">FILEMANAGER</a></li>
    <li><a class="nav-link" href="/info">INFO</a></li>
    <div class="hover-background"></div>
  </ul>
</nav>
<main class="upload">
  <aside>
    <p>
      <img src="img/multiupload.png" alt="" /><span>multiupload</span>
    </p>
    <div class="info-card">
      <div class="img-wrapper"><img src="img/info.png" alt="" /></div>
      <h2>Info Card</h2>
      <p>A sample info card with link to some article</p>
      <div class="btn"><a href="/beta">Beta</a></div>
    </div>

  </aside>
  <div class="content">
    <form id="form">
      <input type="file" multiple accept="" name="files" id="files" />
      <button type="submit">Submit</button>
    </form>
  </div>
</main>

<script src="/js/upload.js">
</script>