<link rel="stylesheet" href="/scss/Content/FileEditor/FileEditor.css" />
<div class="container" id="code-editor">
  <div class="nav">
    <div class="nav-item">
      <button class="btn btn-link" id="save-file">
        <i class="fa-solid fa-floppy-disk"></i>
      </button>
    </div>
    <div class="nav-item">
      <div class="theme-editor">
        <div class="font-size">
          <button class="btn btn-link" id="font-size-decrease">
            <i class="fa-solid fa-minus"></i>
          </button>
          <span>Font size</span>
          <button class="btn btn-link" id="font-size-increase">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
        <div class="theme">
          <button class="btn btn-link" id="theme-decrease">
            <i class="fa-solid fa-minus"></i>
          </button>
          <span>Theme</span>
          <button class="btn btn-link" id="theme-increase">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="nav-item">
      <button class="btn btn-link" id="cancel-file">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
  <div id="editor">
    <div id="lines"></div>
    <div id="code">
      <div id="code-content" spellcheck="false">
        {{#each context.content}}
          <div class="line">{{this}}</div>
        {{/each}}
      </div>
    </div>
  </div>
  <div id="content">
  </div>
</div>
<script>
  var path = "{{context.path}}" ? "{{context.path}}" : "/"; var file = "{{context.file}}";
</script>
<script src="/js/build/FileEditor.js" type="module">
</script>