<link rel="stylesheet" href="/scss/Content/FileEditor/FileEditor.css" />
<div class="container" id="code-editor">
  <div class="nav">
    <div class="nav-item">
      <button class="btn btn-link" id="save-file">
        <i class="fa-solid fa-floppy-disk"></i>
      </button>
    </div>
    <div class="nav-item">
      <button class="btn btn-link" id="cancel-file">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
  <div id="editor">
    <div id="lines"></div>
    <div id="code">
      <div id="code-content">
        {{#each context.content}}
          <div class="line">{{this}}</div>
        {{/each}}
      </div>
    </div>
  </div>
  <div id="content">
  </div>
</div>
<script>
  var path = "{{context.path}}" ? "{{context.path}}" : "/"; var file = "{{context.file}}";
</script>
<script src="/js/build/FileEditor.js">
</script>