@use "../../variables" as *;

.navbar {
  height: 100vh;
  background-color: $background-primary;
  border-right: 1px solid $text-tertiary;
  width: 128px;
  overflow: hidden;
  h1 {
    margin-top: 32px;
    margin-bottom: 64px;
    img {
      display: block;
      width: 75%;
      margin: 0 auto;
    }
  }
  nav {
    position: relative;
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 16px;
      li {
        padding: 0;
        cursor: pointer;
        img {
          opacity: 0.75;
          width: 32px;
          transition: 0.4s;
        }
        &.active {
          img {
            opacity: 1;
          }
          .hover-effect {
            right: -4px;
          }
        }
      }
    }
    .hover-effect {
      position: absolute;
      background-color: $accent-primary;
      width: 4px;
      height: 32px;
      right: 0;
      opacity: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      transition: all 0.3s ease-in-out;
    }
  }
}
