<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filemanager</title>
    <link rel="stylesheet" href="/scss/index.css" />
    <link
      rel="preload"
      href="/scss/Content/Main.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript><link rel="stylesheet" href="/scss/Content/Main.css" /></noscript>
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript><link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      /></noscript>
    <link rel="shortcut icon" href="/img/logo.webp" type="image/x-icon" />
    <style>
      body { opacity: 1; }
    </style>
  </head>
  <body>
    <script>0</script>
    <main class="root">
      {{{body}}}
    </main>
  </body>
</html>