<div class="form-wrapper">
  <img src="img/logo.webp" alt="Logo" />
  <form action="/api/login" method="post">
    <div class="form-container">
      <div class="input-wrapper">
        <label htmlFor="username">username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="input-wrapper">
        <label htmlFor="password">password</label>
        <input type="password" name="password" id="password" />
      </div>
      <button type="submit" class="login-button">
        Sign in
      </button>
      <div class="signup-wrapper">
        Don't have an account?
        <a href="/signup">Sign up</a>
        here!
      </div>
    </div>
  </form>
</div>