<div class="form-wrapper">
  {{#if error}}
    <div class="error">
      {{error}}
    </div>
  {{/if}}
  <img src="img/logo.webp" alt="Logo" />
  <form action="/api/signup" method="post">
    <div class="form-container">
      <div class="input-wrapper">
        <label htmlFor="username">username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="input-wrapper">
        <label htmlFor="password">password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="input-wrapper">
        <label htmlFor="passwordRepeat">repeat password</label>
        <input type="password" name="passwordRepeat" id="passwordRepeat" />
      </div>
      <button type="submit" class="login-button">
        Sign up
      </button>
      <div class="signup-wrapper">
        Already have an account?
        <a href="/login">Log in</a>
        here!
      </div>
    </div>
  </form>
</div>