.files-context-menu {
  position: fixed;
  display: none;
  background-color: $background-transparent;
  border-radius: 8px;
  padding: 8px;
  backdrop-filter: blur(8px);
  &.show {
    display: block;
  }
  .context-menu {
    & > div {
      flex-direction: column;
      .context-menu-item {
        cursor: pointer;
        width: 100%;
        &:hover {
          background-color: $background-secondary;
          border-radius: 8px;
        }
      }
    }
  }
}
