.folder {
  display: block;
  border-radius: 16px;
  padding: 8px;
  width: 100px;
  cursor: pointer;
  h3 {
    text-align: center;
    width: 100%;
    overflow-wrap: break-word;
    pointer-events: none;
    user-select: none;
  }
  input {
    text-align: center;
    width: 100% !important;
    border: 1px solid $accent-primary;
    border-radius: 8px;
    padding: 2px 8px;
    outline: 0;
    background-color: $background-secondary;
    pointer-events: all;
  }
  img {
    margin: 0 auto;
    pointer-events: none;
    display: block;
    height: 64px;
    user-select: none;
  }
  &.selected {
    background-color: $background-secondary;
  }
}
