@use "../variables" as *;

@import "./modules/Navbar";
@import "./modules/Sidebar";
@import "./Files/Files";

body {
  opacity: 0;
  transition: opacity 1s;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  main {
    flex: 1;
    padding: 32px;
    overflow: auto;
    background-color: $background-primary;
    h1 {
      margin-bottom: 32px;
    }
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
    }
  }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 1s;
  }
}
