.navbar {
  height: 100vh;
  background-color: #0b0d11;
  border-right: 1px solid #b3b3b3;
  width: 128px;
  overflow: hidden;
}
.navbar h1 {
  margin-top: 32px;
  margin-bottom: 64px;
}
.navbar h1 img {
  display: block;
  width: 75%;
  margin: 0 auto;
}
.navbar nav {
  position: relative;
}
.navbar nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}
.navbar nav ul li {
  padding: 0;
  cursor: pointer;
}
.navbar nav ul li img {
  opacity: 0.75;
  width: 32px;
  transition: 0.4s;
}
.navbar nav ul li.active img {
  opacity: 1;
}
.navbar nav ul li.active .hover-effect {
  right: -4px;
}
.navbar nav .hover-effect {
  position: absolute;
  background-color: #5c85e6;
  width: 4px;
  height: 32px;
  right: 0;
  opacity: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.sidebar {
  border-left: 1px solid #b3b3b3;
}
.sidebar * {
  color: #ffffff !important;
}

.file {
  display: block;
  width: 100px;
  border-radius: 16px;
  padding: 8px;
  cursor: pointer;
}
.file h3 {
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
  pointer-events: none;
  font-size: 14px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.file img {
  margin: 0 auto;
  pointer-events: none;
  display: block;
  border-radius: 8px;
  height: 64px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.file.selected {
  background-color: rgba(25, 24, 25, 0.4);
}
.file input {
  text-align: center;
  width: 100% !important;
  border: 1px solid #5c85e6;
  border-radius: 8px;
  padding: 2px 8px;
  outline: 0;
  background-color: #191819;
  pointer-events: all;
}

.folder {
  display: block;
  border-radius: 16px;
  padding: 8px;
  width: 100px;
  cursor: pointer;
}
.folder h3 {
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.folder input {
  text-align: center;
  width: 100% !important;
  border: 1px solid #5c85e6;
  border-radius: 8px;
  padding: 2px 8px;
  outline: 0;
  background-color: #191819;
  pointer-events: all;
}
.folder img {
  margin: 0 auto;
  pointer-events: none;
  display: block;
  height: 64px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.folder.selected {
  background-color: rgba(25, 24, 25, 0.4);
}

.breadcrumbs .breadcrumb {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
.breadcrumbs .breadcrumb i {
  transition: 0.3s;
}
.breadcrumbs .breadcrumb.hover {
  color: #5c85e6;
}
.breadcrumbs .breadcrumb.hover i {
  color: #5c85e6;
}

.files-context-menu {
  position: fixed;
  display: none;
  background-color: rgba(25, 24, 25, 0.4);
  border-radius: 8px;
  padding: 8px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.files-context-menu.show {
  display: block;
}
.files-context-menu .context-menu > div {
  flex-direction: column;
}
.files-context-menu .context-menu > div .context-menu-item {
  cursor: pointer;
  width: 100%;
}
.files-context-menu .context-menu > div .context-menu-item:hover {
  background-color: #191819;
  border-radius: 8px;
}

#file-modal {
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(25, 24, 25, 0.4);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
#file-modal.show {
  display: flex;
}
#file-modal form {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #191819;
  border-radius: 8px;
  padding: 32px 16px;
}

.root .files-container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  min-height: 100%;
}
.root .main-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.root .main-wrapper h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid #191819;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.root .main-wrapper .flex-container {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}

.full-name {
  display: none !important;
}

body {
  opacity: 0;
  transition: opacity 1s;
  min-height: 100vh;
  width: 100vw;
  display: flex;
}
body main {
  flex: 1;
  padding: 32px;
  overflow: auto;
  background-color: #0b0d11;
}
body main h1 {
  margin-bottom: 32px;
}
body main .content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
body .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0b0d11;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 1s;
}/*# sourceMappingURL=Main.css.map */