$background-primary: #0b0d11;
$background-secondary: #191819;
$background-transparent: #19181966;
$accent-primary: #5c85e6;
$accent-secondary: #3d6ee1;
$text-primary: #ffffff;
$text-secondary: #f3f3f3;
$text-tertiary: #b3b3b3;
