@import url(https://fonts.googleapis.com/css?family=Baloo+2:regular,500,600,700,800);
.login-page .background-image-container {
  height: 100%;
  overflow: hidden;
  padding: 0.5rem 1rem;
}
.login-page .background-image-container img {
  height: 100%;
  filter: blur(0.25rem) opacity(0.5);
  transition: 0.5s;
  transition-property: filter;
  transition-timing-function: ease-in-out;
  border-radius: 1rem;
}
.login-page .background-image-container:hover img {
  filter: blur(0) opacity(0.9);
}

.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: #0b0d11;
  color: #ffffff;
  font-family: "Baloo 2", sans-serif;
}
.login-page .login-container {
  height: 100%;
  background-color: #191819;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
}
.login-page .login-container .form-wrapper {
  transform: translateY(-10%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.login-page .login-container .form-wrapper img {
  display: block;
  margin: 0 auto;
  width: 200px;
}
.login-page .login-container .form-wrapper .form-container .login-button {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  border: 0;
  outline: 0;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.01em;
  font-family: "Baloo 2", sans-serif;
  color: #fafafa;
  cursor: pointer;
  transition: 0.3s;
  background: linear-gradient(180deg, #5c85e6 0%, #3d6ee1 100%);
}
.login-page .login-container .form-wrapper .form-container .login-button:hover {
  filter: drop-shadow(0 0 0.2rem #5c85e6);
}
.login-page .login-container .form-wrapper .form-container .signup-wrapper {
  margin: 0 auto;
  margin-top: 0.5rem;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login-page .login-container .form-wrapper .form-container .signup-wrapper a {
  color: #5c85e6;
  text-decoration: none;
  transition: 0.2s;
}
.login-page .login-container .form-wrapper .form-container .signup-wrapper a:hover {
  color: #3d6ee1;
}
.login-page .login-container .form-wrapper .form-container .social-login-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1.5rem;
  justify-content: space-around;
}
.login-page .login-container .form-wrapper .form-container .social-login-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(31, 31, 31, 0.5);
  cursor: pointer;
  transition: 0.3s;
}
.login-page .login-container .form-wrapper .form-container .social-login-wrapper button:hover {
  background-color: rgba(40, 40, 40, 0.5);
}
.login-page .login-container .form-wrapper .form-container .social-login-wrapper button img {
  height: 2rem;
  width: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.login-page .login-container .form-wrapper .form-container .social-login-wrapper button span {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #b3b3b3;
  font-family: "Baloo 2", sans-serif;
}
.login-page .login-container .form-wrapper .input-wrapper {
  border: 0;
  display: flex;
  flex-direction: column;
}
.login-page .login-container .form-wrapper .input-wrapper label {
  color: #b3b3b3;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login-page .login-container .form-wrapper .input-wrapper input {
  width: 300px;
  background: rgba(31, 31, 31, 0.5);
  border-radius: 1rem;
  border: 0;
  outline: 0;
  padding: 0.5rem 1rem;
  color: #ffffff;
  font-family: "Baloo 2", sans-serif;
  font-size: 18px;
}/*# sourceMappingURL=auth.css.map */